
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">发表文章</h3>
					

					<!-- INPUTS -->
					<div class="panel">

						<div class="panel-body">
							<table class="table table-striped">
										<thead>
											<tr>
												<th>Order No.</th>
												<th>作者</th>
												<th>标题</th>
												<th>年级</th>
												<th>体裁</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>763648</td>
												<td>老三翔</td>
												<td>我最难忘的一件事</td>
												<td>三年级</td>
												<td>日记</td>
												<td>
														<a href="">查看</a>
														<a href="">通过</a>
														<a href="">退回</a>
												</td>
											</tr>
											
										</tbody>
									</table>

						</div>
					</div>
					<!-- END INPUTS -->


					
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="#" target="_blank">Theme I Need</a>. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->

