<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>高一演讲稿作文_高一演讲稿作文大全_高中作文网</title>
<meta name="keywords" content="高中高一演讲稿作文,高中高一演讲稿作文大全,高中作文网">
<meta name="description" content="高中作文网高一演讲稿作文大全频道提供高一演讲稿作文、高一演讲稿作文大全等，欢迎您踊跃投稿，发表文章。">
<link rel="stylesheet" type="text/css" href=<?php echo base_url()."assets/show/css/style.css" ?>>
<link href="http://baike.zuowen.com/style/tagku/images/favicon/zuowen.ico" rel="shortcut icon">

<style type="text/css">
  dd.gary{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
</style>

</head>
<body>
    <div class="returnBox" style="display: none;">
       <a class="writeBtn" href="http://www.zuowen.com/include/zw_tougao.html" target="_blank" title="投稿"></a>
       <a class="returnBtn" href="javascript:void(0);" title="回到顶部"></a>
   </div>

   <div class="wrap">
       <div class="hr_10"></div>
       <div class="wrapper">
          <div class="selectItem">
           <h2 class="left">已选：</h2>
           <div class="selectCont left">

              <?php if($yearid != '0' ){ ?>
              <span><em><?php echo $this->config->item('year')[$yearid]; ?></em><a href="<?php echo site_url().'/show/index/1/0/'.$genreid ?>"></a></span>
              <?php }?>

              <?php if($genreid != '0'){ ?>
              <span><em><?php echo $this->config->item('genre')[$genreid]; ?></em><a href="<?php echo site_url().'/show/index/1/'.$yearid.'/0' ?>"></a></span>
              <?php }?>

          </div>
      </div>
      <div class="zw_class">
       <dl>
           <dt><em>&gt;&nbsp;年级：</em> 

            <a href="http://k.zuowen.com/sll/gethuati/gz/b110" class="oneall">全部</a>
            <span>
               <b>


                   <a href="<?php echo site_url().'/show/index/1/1/'.$genreid ?>"><i><nobr>一年级</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/2/'.$genreid ?>"><i><nobr>二年级</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/3/'.$genreid ?>"><i><nobr>三年级</nobr></i></a>

                   <a href="<?php echo site_url().'/show/index/1/4/'.$genreid ?>"><i><nobr>四年级</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/5/'.$genreid ?>"><i><nobr>五年级</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/6/'.$genreid ?>"><i><nobr>六年级</nobr></i></a>

               </b>



               <b>

                   <a href="<?php echo site_url().'/show/index/1/7/'.$genreid ?>"><nobr>初一</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/8/'.$genreid ?>"><i><nobr>初二</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/9/'.$genreid ?>"><i><nobr>初三</nobr></i></a>

               </b>

                <b>


                   <a href="<?php echo site_url().'/show/index/1/10/'.$genreid ?>"><i><nobr>高一</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/11/'.$genreid ?>"><i><nobr>高二</nobr></i></a>


                   <a href="<?php echo site_url().'/show/index/1/12/'.$genreid ?>"><i><nobr>高三</nobr></i></a>

               </b>
           </span>
       </dt>

   </dl>
   <dl>
       <dt><em>&gt;&nbsp;体裁：</em> 

        <a href="http://k.zuowen.com/sll/gethuati/gz/a95" class="oneall">全部</a>
        <span>
            <b>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/1' ?>"><i><nobr>写人</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/2' ?>"><i><nobr>叙事</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/3' ?>"><i><nobr>写景</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/4' ?>"><i><nobr>状物</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/9' ?>"><i><nobr>议论文</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/10' ?>"><i><nobr>说明文</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/5' ?>"><i><nobr>想象</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/14' ?>"><i><nobr>书信</nobr></i></a>

               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/15' ?>"><i><nobr>日记</nobr></i></a>

               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/16' ?>"><i><nobr>续写改写</nobr></i></a>


           </b>
           <b id="b">
               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/7' ?>"><i><nobr>看图</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/11'?>"><i><nobr>读后感</nobr></i></a>

               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/18'?>"><i><nobr>观后感</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/12'?>"><i><nobr>演讲稿</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/13'?>"><i><nobr>申请书</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/1'?>"><i><nobr>小说</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/6'?>"><i><nobr>话题</nobr></i></a>


               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/8'?>"><i><nobr>散文</nobr></i></a>

               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/17'?>"><i><nobr>小说</nobr></i></a>

               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/20'?>"><i><nobr>英语</nobr></i></a>

               <a href="<?php echo site_url().'/show/index/1/'.$yearid.'/19'?>"><i><nobr>诗歌</nobr></i></a>

           </b>
       </span>
   </dt>

</dl>
</div>
</div>
<div class="hr_10"></div>
</div>
<div class="hr_10"></div>
<div class="wrapper zw_rel">
	<div class="widbox675 left">

        <div class="hr_10"></div>
        <div class="zw_lscont">
        	<div class="zw_item">
              <?php foreach($articles as $a): ?>
                <dl>
                	<dt>
                       <h3 class="left"><a href="http://www.zuowen.com/e/20150422/55375ea89634d.shtml" target="_blank" onclick="_gaq.push([&#39;_trackEvent&#39;, &#39;off-site&#39;,&#39;ku&#39;,go-link],[&#39;a._trackEvent&#39;, &#39;off-site&#39;,&#39;ku&#39;,go-link]);
                        "><?php echo $a['title'] ?></a></h3>
                        <span class="right">162</span>
                    </dt>
                    <dd>
                    	<a href="#" target="_blank"><?php echo $a['author'] ?></a><span class="gary01">发表于 <?php echo date("Y-m-d h:i") ?></span>
                    </dd>
                    <dd class="gary" > <?php echo $a['content'] ?>
                    </dd>

                </dl>
              <?php endforeach;?>

                <div class="zw_page">

                  <?php echo $links; ?>

                </div>
              </div>
              <div class="curLoc">
                当前位置：
                <a href="http://k.zuowen.com/" target="_blank">作文库</a>
                <em> &gt; </em>
                <a href="http://k.zuowen.com/list/gz/" target="_blank">高中作文</a>

                <em> &gt; </em>
                <a href="http://k.zuowen.com/list/gz/b110">高一</a>
                <em> &gt; </em>
                <a href="http://k.zuowen.com/list/gz/a95">演讲稿</a>
            </div>
        </div>


    </div>
    <div class="widbox265 right">
        <div class="zw_cts">
        	<h2 class="bgh01">最新投稿</h2>
            <ul>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46d01602.shtml" target="_blank">爱松_450字</a><a href="javascript:void(0)" class="author">王铭</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46d96d6c.shtml" target="_blank">时光未老，人影将歇_1000字</a><a href="javascript:void(0)" class="author">徐东</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46c46c9c.shtml" target="_blank">寻找不寻_900字</a><a href="javascript:void(0)" class="author">羅蕓</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46b32c82.shtml" target="_blank">感受幸福_2000字</a><a href="javascript:void(0)" class="author">彭宇航</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46bb7f75.shtml" target="_blank">那个微笑_800字</a><a href="javascript:void(0)" class="author">钟彩婵</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46a24edb.shtml" target="_blank">情书（壹）_500字</a><a href="javascript:void(0)" class="author">南城</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ec46aa984a.shtml" target="_blank">我的烦恼_750字</a><a href="javascript:void(0)" class="author">钟彩婵</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ebd515282c.shtml" target="_blank">有失败才能有成功_600字</a><a href="javascript:void(0)" class="author">钟彩婵</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ebd50448e2.shtml" target="_blank">《总有一次流泪让我们瞬间长...</a><a href="javascript:void(0)" class="author">廖佳琦</a></li>
               <li><a href="http://www.zuowen.com/e/20170519/591ebd50c891f.shtml" target="_blank">让我感动的那句话_650字</a><a href="javascript:void(0)" class="author">钟彩婵</a></li>
           </ul>
       </div>
       <div class="hr_10"></div>
       <div class="zw_cts">
           <h2 class="bgh02">写作指导</h2>
           <ul>
              <li><a href="http://www.zuowen.com/e/20161223/585cc9f419ea7.shtml" target="_blank">叙事文章过程怎么写</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161223/585cc83974bd9.shtml" target="_blank">如果写好记叙文</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161223/585c9ff98765d.shtml" target="_blank">如何对人物外貌进行描写</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161223/585c9f74d248e.shtml" target="_blank">描写人物成语总结</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161223/585c9ecd71f0c.shtml" target="_blank">写人文章四大忌</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161222/585b7514769cc.shtml" target="_blank">描写景色的要点</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161222/585b74316aa25.shtml" target="_blank">初中作文首段怎么写</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161222/585b72ea7a262.shtml" target="_blank">初中记叙文如写生动</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161222/585b63512a308.shtml" target="_blank">小学作文指导之如何写景</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
              <li><a href="http://www.zuowen.com/e/20161222/585b62a170476.shtml" target="_blank">小学作文指导之如何写事</a><!--<a href='javascript:void(0)' class='author'>佚名</a>--></li>
          </ul>
      </div>
      <div class="hr_10"></div>
      <div class="zw_adbox" style="display:none">

      </div>
  </div>
</div>
<div class="hr_10"></div>

<div class="hr_10"></div>




</body></html>